{% extends 'Gallery/base.html' %}

{% load static %}

{% block content %}
    <div class="content-container cn">
		<div class="col-3 col-md-3 cl photo">
			<a href="#"><img class="p_img" src="{% static 'Gallery/Image/team-2.jpg' %}"></a>
		</div>

        <div class="col-3 col-md-3 cl photo">
			<a href="#"><img class="p_img" src="{% static 'Gallery/Image/team-2.jpg' %}"></a>
		</div>

        <div class="col-3 col-md-3 cl photo">
			<a href="#"><img class="p_img" src="{% static 'Gallery/Image/team-2.jpg' %}"></a>
		</div>
	</div>
{% endblock %}